body {
    background-color: #000000;
    color: #FFFFFF;
}

header {
    text-align: center;
    
}


header h1 {
    font-size: 48px;
    margin-bottom: 0px;
}

header h2 {
    margin-top: 0px;
    font-size: 36px;
}

header nav {
    border-top: 1px solid #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
}

header nav ul li {
    list-style-type: none;
}

header nav ul li a {
    color: #FFFFFF;

}

h3 {
    text-align: center;
}