
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

header nav ul {
    display: flex;
    flex-direction: row;
}

header nav ul li {
    list-style-type: none;
}